.location_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 48px 0;
  background-image: url('../../images/location_background.png');

  .location_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 30px 30px;
    width: 80%;
    background-color: rgba(240, 240, 240, 0.7);

    .location_text {
      text-align: center;
      width: 298px;
      font-family: Arial, sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
    }

    .location_img {
      width: 300px;
      padding: 12px 0px;
      top: 110px;
      left: 33px;
      border-radius: 35px;
    }

    .location_map {
      align-items: center;
      background-color: #000000;
      color: #ffffff;
      font-family: sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 8%;
      width: 122px;
      padding: 10px 10px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
    }
  }
}