h3 {
  text-align: center;
  font-family: Inter;
  margin: 36px;
}


table,
td,
th {
  border: 1px solid;
}

table {
  margin: 30px auto;
  padding: 24px;
  width: 70%;
  border-collapse: collapse;

  @media only screen and (max-width: 500px){
    table{
      min-width: 100%;
      min-height: 100%;
      // margin: 20px;
    }
  }

  tr:nth-child(odd) {
    background-color: #ffffff;
  }
  tr:nth-child(even) {
    background-color: #ddebf7;
  }
  tr{
      .container{
          background-color: #5B9BD5;
      }
  }
}

th {
  padding: 2px;
  font-family: Inter;
}

td {
  padding: 2px;
  font-family: Inter;
  text-align: center;
}

@media only screen and (max-width: 500px){
  h3{
    width: 100%;
  }
}
