.footer_main {
  width: 450px;
  height: 508px;
  top: 3467px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;

  .footer_logo {
    color: white;
    width: 150px;
    height: 150px;
    top: 22px;
    left: 150px;
    gap: 0px;
    border-radius: 80px 0px 0px 0px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
  }

  .number {
    
    padding: 60px 17px;
    margin: 24px 24px;
    gap: 0px;
    opacity: 0px;

  }
}